Repository fairhopeweb/fiberplane, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fiberplane/api-devs, @fiberplane/studio-devs, @fiberplane/plugin-devs, @fiberplane/template-devs, @fiberplane/infrastructure-devs

Bump internal dependencies when bumping workspace version (#61)
  .github/workflows/audit_rust.yml
  .github/workflows/audit_typescript.yml
  .github/workflows/build_rust.yml
  .github/workflows/test_typescript.yml
  fiberplane-charts/rollup.config.js
  fiberplane-charts/src/ChartLegend/ChartLegend.tsx
  fiberplane-charts/src/MetricsChart/ChartContent/BarsStacked/BarsStacked.tsx
  fiberplane-charts/src/MetricsChart/ChartContent/BarsStacked/hooks.tsx
  fiberplane-charts/src/MetricsChart/ChartContent/DefaultBars/DefaultBars.tsx
  fiberplane-charts/src/MetricsChart/GridWithAxes/GridWithAxes.tsx
  fiberplane-charts/src/MetricsChart/MainChartContent.tsx
  fiberplane-charts/src/MetricsChart/MetricsChart.tsx
  fiberplane-ci/src/utils/github.rs
  xtask/src/commands/versions.rs
Owners: @fiberplane/infrastructure-devs, @fiberplane/studio-devs

Add in_progress variant (#62)
  fiberplane-ci/src/utils/github.rs
Owners: @fiberplane/infrastructure-devs

Bump minor version (#63)
  Cargo.toml
  fiberplane-provider-protocol/fiberplane-provider-bindings/Cargo.toml
  fiberplane-provider-protocol/fiberplane-provider-runtime/Cargo.toml
Owners: @fiberplane/api-devs, @fiberplane/studio-devs, @fiberplane/plugin-devs

Fix legend / series toggling (#64)
  .github/workflows/test_typescript.yml
  fiberplane-charts/dist/index.d.ts
  fiberplane-charts/dist/index.js
  fiberplane-charts/dist/index.js.map
  fiberplane-charts/src/ChartLegend/ChartLegendItem.tsx
  fiberplane-charts/src/MetricsChart/types.ts
Owners: @fiberplane/infrastructure-devs, @fiberplane/studio-devs

Remove utils only used by fpx (#65)
  fiberplane-ci/src/utils/git.rs
  fiberplane-ci/src/utils/mod.rs
Owners: @fiberplane/infrastructure-devs

Update CHANGELOG
  CHANGELOG.md
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

Remove WorkflowExt trait (#66)
  fiberplane-ci/src/utils/github.rs
Owners: @fiberplane/infrastructure-devs

Add SparkChart (#67)
  fiberplane-charts/dist/index.d.ts
  fiberplane-charts/dist/index.js
  fiberplane-charts/dist/index.js.map
  fiberplane-charts/src/ChartLegend/index.ts
  fiberplane-charts/src/ChartSizeContainerProvider/ChartSizeContainerProvider.tsx
  fiberplane-charts/src/ChartSizeContainerProvider/index.ts
  fiberplane-charts/src/CoreChart/ChartContent/Areas.tsx
  fiberplane-charts/src/CoreChart/ChartContent/BarsStacked/BarsStacked.tsx
  fiberplane-charts/src/CoreChart/ChartContent/BarsStacked/hooks.tsx
  fiberplane-charts/src/CoreChart/ChartContent/BarsStacked/index.ts
  fiberplane-charts/src/CoreChart/ChartContent/BarsStacked/utils.ts
  fiberplane-charts/src/CoreChart/ChartContent/ChartContent.tsx
  fiberplane-charts/src/CoreChart/ChartContent/DefaultBars/DefaultBars.tsx
  fiberplane-charts/src/CoreChart/ChartContent/DefaultBars/hooks.ts
  fiberplane-charts/src/CoreChart/ChartContent/DefaultBars/index.ts
  fiberplane-charts/src/CoreChart/ChartContent/DefaultBars/utils.tsx
  fiberplane-charts/src/CoreChart/ChartContent/Lines/Line.tsx
  fiberplane-charts/src/CoreChart/ChartContent/Lines/Lines.tsx
  fiberplane-charts/src/CoreChart/ChartContent/Lines/Series.tsx
  fiberplane-charts/src/CoreChart/ChartContent/Lines/index.ts
  fiberplane-charts/src/CoreChart/ChartContent/TimeseriesTable.tsx
  fiberplane-charts/src/CoreChart/ChartContent/index.ts
  fiberplane-charts/src/CoreChart/CoreChart.tsx
  fiberplane-charts/src/CoreChart/GridWithAxes/Bottom.tsx
  fiberplane-charts/src/CoreChart/GridWithAxes/GridWithAxes.tsx
  fiberplane-charts/src/CoreChart/GridWithAxes/index.ts
  fiberplane-charts/src/CoreChart/ZoomBar.tsx
  fiberplane-charts/src/CoreChart/index.ts
  fiberplane-charts/src/CoreChart/types.ts
  fiberplane-charts/src/MetricsChart/ChartSizeContainerProvider.tsx
  fiberplane-charts/src/MetricsChart/MetricsChart.tsx
  fiberplane-charts/src/MetricsChart/types.ts
  fiberplane-charts/src/SparkChart/SparkChart.tsx
  fiberplane-charts/src/SparkChart/index.ts
  fiberplane-charts/src/context/ChartSizeContext.ts
  fiberplane-charts/src/hooks/useCoreControls.ts
  fiberplane-charts/src/hooks/useScales.ts
  fiberplane-charts/src/index.ts
Owners: @fiberplane/studio-devs

Add `chartGridStrokeColor` prop allowing color overrides (#69)
  fiberplane-charts/src/CoreChart/CoreChart.tsx
  fiberplane-charts/src/CoreChart/GridWithAxes/GridWithAxes.tsx
  fiberplane-charts/src/CoreChart/types.ts
Owners: @fiberplane/studio-devs

Build PR #69 & update `fiberplane-charts` README (#70)
  fiberplane-charts/README.md
  fiberplane-charts/dist/index.d.ts
  fiberplane-charts/dist/index.js
  fiberplane-charts/dist/index.js.map
Owners: @fiberplane/studio-devs

`fiberplane-charts`: Add events to `<MetricsChart />` (#76)
  fiberplane-charts/dist/index.d.ts
  fiberplane-charts/dist/index.js
  fiberplane-charts/dist/index.js.map
  fiberplane-charts/src/CoreChart/ChartContent.tsx
  fiberplane-charts/src/CoreChart/CoreChart.tsx
  fiberplane-charts/src/CoreChart/hooks/useTooltip.ts
  fiberplane-charts/src/CoreChart/types.ts
  fiberplane-charts/src/MetricsChart/MetricsChart.tsx
  fiberplane-charts/src/MetricsChart/Tooltip.tsx
  fiberplane-charts/src/MetricsChart/Tooltips/EventTooltip.tsx
  fiberplane-charts/src/MetricsChart/Tooltips/TimeseriesTooltip.tsx
  fiberplane-charts/src/MetricsChart/Tooltips/TooltipBody.tsx
  fiberplane-charts/src/MetricsChart/Tooltips/TooltipCaption.tsx
  fiberplane-charts/src/MetricsChart/Tooltips/index.ts
  fiberplane-charts/src/MetricsChart/types.ts
  fiberplane-charts/src/Mondrian/generator/__snapshots__/generateBarChartFromTimeseries.test.ts.snap
  fiberplane-charts/src/Mondrian/generator/__snapshots__/generateLineChartFromTimeseries.test.ts.snap
  fiberplane-charts/src/Mondrian/generator/__snapshots__/generateShapeListFromEvents.test.ts.snap
  fiberplane-charts/src/Mondrian/generator/generateShapeListFromEvents.test.ts
  fiberplane-charts/src/Mondrian/generator/generateShapeListFromEvents.ts
  fiberplane-charts/src/Mondrian/generator/index.ts
  fiberplane-charts/src/Mondrian/generator/utils/calculateYAxisRange.ts
  fiberplane-charts/src/Mondrian/generator/utils/getYAxisForConstantValue.ts
  fiberplane-charts/src/Mondrian/index.ts
  fiberplane-charts/src/Mondrian/types.ts
  fiberplane-charts/src/SparkChart/SparkChart.tsx
  fiberplane-charts/src/TimeseriesLegend/TimeseriesLegend.tsx
  fiberplane-charts/src/TimeseriesLegend/types.ts
  fiberplane-charts/src/index.ts
  fiberplane-charts/src/utils/getShapeListColor.ts
  fiberplane-charts/src/utils/index.ts
Owners: @fiberplane/studio-devs

Add `fiberplane-prometheus-query` package (#77)
  .github/workflows/build_rust.yml
  .github/workflows/test_typescript.yml
  README.md
  fiberplane-charts/package.json
  fiberplane-prometheus-query/README.md
  fiberplane-prometheus-query/dist/index.d.ts
  fiberplane-prometheus-query/dist/index.js
  fiberplane-prometheus-query/dist/index.js.map
  fiberplane-prometheus-query/jest.config.js
  fiberplane-prometheus-query/package.json
  fiberplane-prometheus-query/rollup.config.dts.js
  fiberplane-prometheus-query/rollup.config.js
  fiberplane-prometheus-query/src/index.ts
  fiberplane-prometheus-query/src/providerTypes.ts
  fiberplane-prometheus-query/src/timeseries.test.ts
  fiberplane-prometheus-query/src/timeseries.ts
  fiberplane-prometheus-query/tsconfig.json
  package.json
  rome.json
  yarn.lock
Owners: @fiberplane/infrastructure-devs, @fiberplane/api-devs, @fiberplane/studio-devs

Fix chart clipping issues (#78)
  fiberplane-charts/dist/index.js
  fiberplane-charts/dist/index.js.map
  fiberplane-charts/src/CoreChart/ChartShape/PointShape.tsx
  fiberplane-charts/src/CoreChart/CoreChart.tsx
  fiberplane-charts/src/CoreChart/GridWithAxes/GridWithAxes.tsx
  fiberplane-charts/src/CoreChart/constants.ts
Owners: @fiberplane/studio-devs

.github/CODEOWNERS:

# By default the code is owned by the API and Studio team, as they are
# dependent on this crate
* @fiberplane/api-devs @fiberplane/studio-devs

# API devs own the API client and the API generator
/fiberplane-api-client/ @fiberplane/api-devs
/fiberplane-openapi-rust-gen/ @fiberplane/api-devs

# Provider specific stuff is owned by the plugin team
/fiberplane-provider-protocol/ @fiberplane/plugin-devs

# Templates are owned by the template team
/fiberplane-templates/ @fiberplane/template-devs

# Charts is owned by the Studio team
/fiberplane-charts/ @fiberplane/studio-devs

# CI stuff is owned by the infrastructure team
.github @fiberplane/infrastructure-devs
/fiberplane-ci/ @fiberplane/infrastructure-devs
/xtask/ @fiberplane/infrastructure-devs
