Repository fairhopeweb/fiberplane, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fiberplane/api-devs, @fiberplane/studio-devs, @fiberplane/plugin-devs, @fiberplane/template-devs

Update `fp-bindgen` to `2.3.0` (#224)
  base64uuid/src/serializable.rs
  fp-provider-protocol/Cargo.toml
  fp-provider-protocol/fp-provider-bindings/Cargo.toml
Owners: @fiberplane/api-devs, @fiberplane/studio-devs, @fiberplane/plugin-devs

Fix various issues in the openapi schema (#227)
  fp-api-client/.openapi-generator/FILES
  fp-api-client/README.md
  fp-api-client/docs/Blob.md
  fp-api-client/docs/Cell.md
  fp-api-client/docs/DeleteEvent.md
  fp-api-client/docs/ElasticsearchFieldMappings.md
  fp-api-client/docs/EventCreateRequest.md
  fp-api-client/docs/EventCreateResponse.md
  fp-api-client/docs/EventSearch.md
  fp-api-client/docs/InlineObject.md
  fp-api-client/docs/InstantQuery.md
  fp-api-client/docs/LogCell.md
  fp-api-client/docs/PointType.md
  fp-api-client/docs/ProviderResponse.md
  fp-api-client/docs/QueryType.md
  fp-api-client/docs/SeriesQuery.md
  fp-api-client/docs/TemplateExpandResponse.md
  fp-api-client/docs/TriggerWebHookResponse.md
  fp-api-client/src/models/blob.rs
  fp-api-client/src/models/cell.rs
  fp-api-client/src/models/delete_event.rs
  fp-api-client/src/models/elasticsearch_field_mappings.rs
  fp-api-client/src/models/event_search.rs
  fp-api-client/src/models/expanded_index.rs
  fp-api-client/src/models/inline_object.rs
  fp-api-client/src/models/instant_query.rs
  fp-api-client/src/models/log_cell.rs
  fp-api-client/src/models/mod.rs
  fp-api-client/src/models/point_type.rs
  fp-api-client/src/models/provider_response.rs
  fp-api-client/src/models/query_type.rs
  fp-api-client/src/models/series_query.rs
  fp-api-client/src/models/template_expand_response.rs
  fp-api-client/src/models/trigger_web_hook_response.rs
  schemas/openapi_v1.yml
  scripts/generate_api_client.ps1
  scripts/generate_api_client.sh
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

Handle nulls being passed to addCell (#230)
  .github/workflows/check_jsonnet.yml
  fp-templates/fiberplane.libsonnet
Owners: @fiberplane/api-devs, @fiberplane/studio-devs, @fiberplane/template-devs

FP-1831: Add 'label' annotation (#183)
  fiberplane/src/protocols/core.rs
  fiberplane/src/protocols/formatting.rs
  fp-api-client/.openapi-generator/FILES
  fp-api-client/README.md
  fp-api-client/docs/LabelAnnotation.md
  fp-api-client/src/models/annotation.rs
  fp-api-client/src/models/label_annotation.rs
  fp-markdown/src/to_markdown/mod.rs
  fp-markdown/src/to_markdown/tests.rs
  fp-templates/docs/template_api.md
  fp-templates/fiberplane.libsonnet
  fp-templates/src/convert/mod.rs
  fp-templates/src/convert/tests.rs
  fp-templates/src/expand/tests.rs
  fp-templates/tests/assets/template.jsonnet
  fp-templates/tests/test.rs
  schemas/openapi_v1.yml
Owners: @fiberplane/api-devs, @fiberplane/studio-devs, @fiberplane/template-devs

Update template docs link (#240)
  fp-templates/src/convert/mod.rs
Owners: @fiberplane/template-devs

Fix Prometheus auto-suggestions (#243)
  providers/prometheus/src/auto_suggest.rs
Owners: @fiberplane/plugin-devs

Allow passing only URL to fmt.link in templates (#248)
  fp-templates/docs/template_api.md
  fp-templates/fiberplane.libsonnet
Owners: @fiberplane/template-devs

FP-1805: Live mode (#247)
  providers/prometheus/src/constants.rs
  providers/prometheus/src/lib.rs
Owners: @fiberplane/plugin-devs

Use character not byte offsets when converting to template (#249)
  fp-templates/src/convert/mod.rs
  fp-templates/src/convert/tests.rs
Owners: @fiberplane/template-devs

Use workspace dependencies (#251)
  Cargo.toml
  base64uuid/Cargo.toml
  base64uuid/src/serializable.rs
  fiberplane/Cargo.toml
  fp-markdown/Cargo.toml
  fp-provider-protocol/Cargo.toml
  fp-provider-protocol/fp-provider-bindings/Cargo.toml
  fp-provider-protocol/fp-provider-bindings/fp-provider/Cargo.toml
  fp-provider-protocol/fp-provider-runtime/Cargo.toml
  fp-provider-protocol/src/main.rs
  fp-templates/Cargo.toml
  providers/elasticsearch/Cargo.toml
  providers/loki/Cargo.toml
  providers/prometheus/Cargo.toml
  providers/proxy/Cargo.toml
  providers/sentry/Cargo.toml
  time_util/Cargo.toml
Owners: @fiberplane/api-devs, @fiberplane/studio-devs, @fiberplane/plugin-devs, @fiberplane/template-devs

Char operations should use u32s (#250)
  fiberplane/src/markdown.rs
  fiberplane/src/operations/apply_operation.rs
  fiberplane/src/operations/tests/test_transform_operation.rs
  fiberplane/src/operations/validate_operation.rs
  fiberplane/src/text_util.rs
  fp-templates/src/convert/mod.rs
Owners: @fiberplane/api-devs, @fiberplane/studio-devs, @fiberplane/template-devs

Add workspace_invite_delete endpoint (#252)
  fp-api-client/README.md
  fp-api-client/docs/DefaultApi.md
  fp-api-client/src/apis/default_api.rs
  schemas/openapi_v1.yml
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

Display error content (#253)
  fp-api-client/src/apis/mod.rs
  schemas/patches/error_content.patch
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

allow updating user roles within workspace (#255)
  fiberplane/src/protocols/core.rs
  fp-api-client/.openapi-generator/FILES
  fp-api-client/README.md
  fp-api-client/docs/DefaultApi.md
  fp-api-client/docs/WorkspaceUserUpdate.md
  fp-api-client/src/apis/default_api.rs
  fp-api-client/src/models/mod.rs
  fp-api-client/src/models/workspace_user_update.rs
  schemas/openapi_v1.yml
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

add `ArgEnum` to `AuthzRole` (#256)
  fiberplane/src/protocols/core.rs
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

Remove regex dependency (#257)
  fiberplane/Cargo.toml
  fiberplane/src/lib.rs
  fiberplane/src/markdown.rs
  fiberplane/src/operations/fixtures/test_cases.rs
  fiberplane/src/protocols/core.rs
  fiberplane/src/protocols/labels.rs
  fiberplane/src/protocols/mod.rs
  fiberplane/src/protocols/names.rs
  fiberplane/src/protocols/realtime.rs
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

add route to delete workspace (#258)
  fp-api-client/README.md
  fp-api-client/docs/DefaultApi.md
  fp-api-client/src/apis/default_api.rs
  schemas/openapi_v1.yml
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

Add support for provider cell (#259)
  fp-templates/docs/template_api.md
  fp-templates/fiberplane.libsonnet
  fp-templates/src/convert/mod.rs
  fp-templates/tests/assets/template.jsonnet
  fp-templates/tests/test.rs
Owners: @fiberplane/template-devs

Update to clap v4 and mark it optional (#260)
  Cargo.toml
  fiberplane/Cargo.toml
  fiberplane/src/protocols/core.rs
  fiberplane/src/sorting.rs
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

allow defining role on invite (#254)
  fiberplane/src/protocols/core.rs
  fp-api-client/docs/NewWorkspaceInvite.md
  fp-api-client/docs/WorkspaceInvite.md
  fp-api-client/src/models/new_workspace_invite.rs
  fp-api-client/src/models/workspace_invite.rs
  schemas/openapi_v1.yml
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

Add test for fmt.timestamp (#261)
  fp-templates/tests/assets/template.jsonnet
  fp-templates/tests/test.rs
Owners: @fiberplane/template-devs

Use POST for accept/decline endpoint (#264)
  fp-api-client/README.md
  fp-api-client/docs/DefaultApi.md
  fp-api-client/src/apis/default_api.rs
  schemas/openapi_v1.yml
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

Return the workspace from the accept endpoint (#265)
  fp-api-client/docs/DefaultApi.md
  fp-api-client/src/apis/default_api.rs
  schemas/openapi_v1.yml
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

Use plural for invitations endpoint (#267)
  fp-api-client/README.md
  fp-api-client/docs/DefaultApi.md
  fp-api-client/src/apis/default_api.rs
  schemas/openapi_v1.yml
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

Use query_range endpoint to check status (#268)
  providers/loki/src/lib.rs
Owners: @fiberplane/plugin-devs

Add authentication to Prometheus, Loki, Elasticsearch providers (#269)
  providers/elasticsearch/src/lib.rs
  providers/loki/Cargo.toml
  providers/loki/src/config.rs
  providers/loki/src/lib.rs
  providers/prometheus/Cargo.toml
  providers/prometheus/src/auto_suggest.rs
  providers/prometheus/src/instants.rs
  providers/prometheus/src/lib.rs
  providers/prometheus/src/timeseries.rs
Owners: @fiberplane/plugin-devs

Add workspace to role mapping in the profile (#270)
  fiberplane/src/protocols/core.rs
  fp-api-client/.openapi-generator/FILES
  fp-api-client/README.md
  fp-api-client/docs/AuthRole.md
  fp-api-client/docs/NewWorkspaceInvite.md
  fp-api-client/docs/Profile.md
  fp-api-client/docs/WorkspaceInvite.md
  fp-api-client/src/models/auth_role.rs
  fp-api-client/src/models/mod.rs
  fp-api-client/src/models/new_workspace_invite.rs
  fp-api-client/src/models/profile.rs
  fp-api-client/src/models/workspace_invite.rs
  fp-api-client/src/models/workspace_user_update.rs
  schemas/openapi_v1.yml
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

Use human readable names as template IDs (#266)
  fiberplane/src/sorting.rs
  fp-api-client/README.md
  fp-api-client/docs/DefaultApi.md
  fp-api-client/docs/NewTemplate.md
  fp-api-client/docs/NewTrigger.md
  fp-api-client/docs/Template.md
  fp-api-client/docs/TemplateSummary.md
  fp-api-client/docs/UpdateTemplate.md
  fp-api-client/src/apis/default_api.rs
  fp-api-client/src/models/new_template.rs
  fp-api-client/src/models/new_trigger.rs
  fp-api-client/src/models/template.rs
  fp-api-client/src/models/template_summary.rs
  fp-api-client/src/models/update_template.rs
  schemas/openapi_v1.yml
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

Add timestamp formatting annotation to OpenAPI (#271)
  fp-api-client/.openapi-generator/FILES
  fp-api-client/README.md
  fp-api-client/docs/Cell.md
  fp-api-client/docs/ProviderCell.md
  fp-api-client/docs/TimestampAnnotation.md
  fp-api-client/src/models/annotation.rs
  fp-api-client/src/models/annotation_type.rs
  fp-api-client/src/models/cell.rs
  fp-api-client/src/models/mod.rs
  fp-api-client/src/models/provider_cell.rs
  fp-api-client/src/models/timestamp_annotation.rs
  schemas/openapi_v1.yml
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

add string representation for different types of `Cell` (#272)
  fiberplane/src/protocols/core.rs
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

Add WorkspaceId in Notebook and NotebookSummary models (#273)
  fiberplane/src/operations/fixtures/test_notebook.rs
  fiberplane/src/protocols/core.rs
  fp-api-client/docs/Notebook.md
  fp-api-client/docs/NotebookSummary.md
  fp-api-client/src/models/notebook.rs
  fp-api-client/src/models/notebook_summary.rs
  schemas/openapi_v1.yml
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

Add role to list members endpoint (#278)
  fp-api-client/.openapi-generator/FILES
  fp-api-client/README.md
  fp-api-client/docs/DefaultApi.md
  fp-api-client/docs/Membership.md
  fp-api-client/src/apis/default_api.rs
  fp-api-client/src/models/membership.rs
  fp-api-client/src/models/mod.rs
  schemas/openapi_v1.yml
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

Change to studio.fiberplane.com (#277)
  fp-api-client/README.md
  fp-api-client/docs/DefaultApi.md
  fp-api-client/src/apis/configuration.rs
  fp-templates/examples/incident-analysis/README.md
  fp-templates/examples/incident-response/README.md
  fp-templates/examples/meeting-notes/README.md
  fp-templates/examples/root-cause-analysis/README.md
  schemas/openapi_v1.yml
Owners: @fiberplane/api-devs, @fiberplane/studio-devs, @fiberplane/template-devs

use intent as `type_str` for provider cells (#280)
  fiberplane/src/protocols/core.rs
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

Quick fix for double slash in prometheus metadata query (#281)
  providers/prometheus/src/auto_suggest.rs
Owners: @fiberplane/plugin-devs

Workspace unique names (#274)
  fiberplane/src/protocols/core.rs
  fiberplane/src/protocols/names.rs
  fp-api-client/docs/NewWorkspace.md
  fp-api-client/docs/UpdateWorkspace.md
  fp-api-client/docs/Workspace.md
  fp-api-client/src/models/new_workspace.rs
  fp-api-client/src/models/update_workspace.rs
  fp-api-client/src/models/workspace.rs
  schemas/openapi_v1.yml
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

Support Grafana Cloud for Prometheus and Loki providers (#276)
  Cargo.toml
  fp-provider-protocol/fp-provider-runtime/src/spec/mod.rs
  providers/.cargo/config
  providers/elasticsearch/Cargo.toml
  providers/elasticsearch/build.rs
  providers/elasticsearch/src/lib.rs
  providers/grafana-common/Cargo.toml
  providers/grafana-common/src/config.rs
  providers/grafana-common/src/lib.rs
  providers/loki/.cargo/config
  providers/loki/build.rs
  providers/loki/src/config.rs
  providers/loki/src/lib.rs
  providers/loki/src/tests.rs
  providers/prometheus/.cargo/config
  providers/prometheus/Cargo.toml
  providers/prometheus/build.rs
  providers/prometheus/src/auto_suggest.rs
  providers/prometheus/src/config.rs
  providers/prometheus/src/instants.rs
  providers/prometheus/src/lib.rs
  providers/prometheus/src/timeseries.rs
  providers/proxy/.cargo/config
  providers/sentry/.cargo/config
  providers/sentry/Cargo.toml
  providers/sentry/build.rs
  providers/sentry/src/lib.rs
Owners: @fiberplane/api-devs, @fiberplane/studio-devs, @fiberplane/plugin-devs

Limit debug output of Blobs + HTTP responses (#282)
  fiberplane/src/lib.rs
  fiberplane/src/protocols/blobs.rs
  fiberplane/src/protocols/providers/http.rs
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

Make fmt.link's url property optional (#283)
  fp-templates/fiberplane.libsonnet
Owners: @fiberplane/template-devs

Minor change to elasticsearch provider logging (#284)
  fp-provider-protocol/fp-provider-runtime/src/spec/bindings.rs
  fp-provider-protocol/fp-provider-runtime/src/spec/mod.rs
  providers/elasticsearch/Cargo.toml
  providers/elasticsearch/src/lib.rs
  providers/elasticsearch/src/tests.rs
Owners: @fiberplane/plugin-devs

.github/CODEOWNERS:

# By default the code is owned by the API and studio team, as they are
# dependent on this crate
* @fiberplane/api-devs @fiberplane/studio-devs

# Provider specific stuff is owned by the plugin team
/fp-provider-protocol/ @fiberplane/plugin-devs
/providers/ @fiberplane/plugin-devs

# Templates are owned by the template team
/fp-templates/ @fiberplane/template-devs
