Repository fairhopeweb/fiberplane, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fiberplane/api-devs, @fiberplane/studio-devs, @fiberplane/plugin-devs, @fiberplane/template-devs

.github/CODEOWNERS:

# By default the code is owned by the API and studio team, as they are
# dependent on this crate
* @fiberplane/api-devs @fiberplane/studio-devs

# Provider specific stuff is owned by the plugin team
/fp-provider-protocol/ @fiberplane/plugin-devs
/providers/ @fiberplane/plugin-devs

# Templates are owned by the template team
/fp-templates/ @fiberplane/template-devs

Reuse provider runtime HTTP client (#285)
  fp-provider-protocol/fp-provider-runtime/src/spec/mod.rs
Owners: @fiberplane/plugin-devs

Add POST /api/notebooks/notebookId/duplicate (#279)
  fp-api-client/.openapi-generator/FILES
  fp-api-client/README.md
  fp-api-client/docs/DefaultApi.md
  fp-api-client/docs/NotebookCopyDestination.md
  fp-api-client/src/apis/default_api.rs
  fp-api-client/src/models/mod.rs
  fp-api-client/src/models/notebook_copy_destination.rs
  schemas/openapi_v1.yml
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

Add protocol version to data sources (#262)
  fiberplane/src/protocols/data_sources.rs
  fiberplane/src/protocols/proxies.rs
  fp-api-client/docs/DataSource.md
  fp-api-client/docs/NewDataSource.md
  fp-api-client/src/models/data_source.rs
  fp-api-client/src/models/new_data_source.rs
  schemas/openapi_v1.yml
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

expose workspace owner id (#289)
  fiberplane/src/protocols/core.rs
  fp-api-client/docs/Workspace.md
  fp-api-client/src/models/workspace.rs
  schemas/openapi_v1.yml
  scripts/generate_api_client.ps1
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

Resolves clippies using cargo clippy --fix (#290)
  base64uuid/src/lib.rs
  base64uuid/src/serde_uuid.rs
  base64uuid/src/tests.rs
  fiberplane/src/operations/changes/change.rs
  fiberplane/src/protocols/core.rs
  fiberplane/src/protocols/operations.rs
  fiberplane/src/protocols/proxies.rs
  fp-templates/src/convert/mod.rs
  fp-templates/tests/test.rs
  providers/loki/src/tests.rs
  providers/prometheus/src/auto_suggest.rs
Owners: @fiberplane/api-devs, @fiberplane/studio-devs, @fiberplane/template-devs, @fiberplane/plugin-devs
