Repository fairhopeweb/fiberplane, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fiberplane/api-devs, @fiberplane/studio-devs, @fiberplane/plugin-devs, @fiberplane/template-devs

Upgrade to fp-bindgen v3.0.0 (#52)
  Cargo.toml
  fiberplane-provider-protocol/fiberplane-provider-bindings/Cargo.toml
  fiberplane-provider-protocol/fiberplane-provider-bindings/src/types.rs
  fiberplane-provider-protocol/fiberplane-provider-runtime/Cargo.toml
  fiberplane-provider-protocol/fiberplane-provider-runtime/src/spec/bindings.rs
  fiberplane-provider-protocol/fiberplane-provider-runtime/src/spec/types.rs
  fiberplane-provider-protocol/src/main.rs
  fiberplane-provider-protocol/ts-runtime/index.ts
  fiberplane-provider-protocol/ts-runtime/types.ts
Owners: @fiberplane/api-devs, @fiberplane/studio-devs, @fiberplane/plugin-devs

Promote d3-scale to real dependency (#53)
  fiberplane-charts/dist/index.js.map
  fiberplane-charts/package.json
  fiberplane-charts/src/MetricsChart/ChartContent/DefaultBars/utils.tsx
  fiberplane-charts/src/MetricsChart/GridWithAxes/Bottom.tsx
  fiberplane-charts/src/MetricsChart/GridWithAxes/GridWithAxes.tsx
Owners: @fiberplane/studio-devs

introducing webhooks (#41)
  .github/pull_request_template.md
  CHANGELOG.md
  fiberplane-api-client/src/lib.rs
  fiberplane-models/Cargo.toml
  fiberplane-models/src/lib.rs
  fiberplane-models/src/webhooks.rs
  schemas/openapi_v1.yml
  schemas/webhooks.schema.json
  xtask/src/commands/generate_api_client.rs
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

extend webhook models with new things specified in design (#54)
  CHANGELOG.md
  fiberplane-models/src/webhooks.rs
  schemas/openapi_v1.yml
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

Make charts more customizable (#56)
  fiberplane-charts/dist/index.d.ts
  fiberplane-charts/dist/index.js
  fiberplane-charts/dist/index.js.map
  fiberplane-charts/rollup.config.js
  fiberplane-charts/src/ChartLegend/ChartLegend.tsx
  fiberplane-charts/src/ChartLegend/ChartLegendItem.tsx
  fiberplane-charts/src/ChartLegend/types.ts
  fiberplane-charts/src/MetricsChart/ChartControls.tsx
  fiberplane-charts/src/MetricsChart/GridWithAxes/Bottom.tsx
  fiberplane-charts/src/MetricsChart/GridWithAxes/GridWithAxes.tsx
  fiberplane-charts/src/MetricsChart/MainChartContent.tsx
  fiberplane-charts/src/MetricsChart/MetricsChart.tsx
  fiberplane-charts/src/MetricsChart/types.ts
Owners: @fiberplane/studio-devs

Chart line colors (#57)
  fiberplane-charts/dist/index.d.ts
  fiberplane-charts/dist/index.js
  fiberplane-charts/dist/index.js.map
  fiberplane-charts/src/ChartLegend/ChartLegend.tsx
  fiberplane-charts/src/ChartLegend/types.ts
  fiberplane-charts/src/MetricsChart/ChartContent/Areas.tsx
  fiberplane-charts/src/MetricsChart/ChartContent/BarsStacked/BarsStacked.tsx
  fiberplane-charts/src/MetricsChart/ChartContent/BarsStacked/hooks.tsx
  fiberplane-charts/src/MetricsChart/ChartContent/ChartContent.tsx
  fiberplane-charts/src/MetricsChart/ChartContent/DefaultBars/DefaultBars.tsx
  fiberplane-charts/src/MetricsChart/ChartContent/DefaultBars/hooks.ts
  fiberplane-charts/src/MetricsChart/ChartContent/DefaultBars/utils.tsx
  fiberplane-charts/src/MetricsChart/ChartContent/Lines/Line.tsx
  fiberplane-charts/src/MetricsChart/ChartContent/Lines/Lines.tsx
  fiberplane-charts/src/MetricsChart/MainChartContent.tsx
  fiberplane-charts/src/MetricsChart/MetricsChart.tsx
  fiberplane-charts/src/MetricsChart/types.ts
  fiberplane-charts/src/colors.ts
  fiberplane-charts/src/context/TooltipApiContext.ts
  fiberplane-charts/src/utils/formatTimeseries.tsx
Owners: @fiberplane/studio-devs

Bump octocrab to v0.23 (#59)
  fiberplane-ci/Cargo.toml
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

add models for sign in with github (#58)
  CHANGELOG.md
  fiberplane-api-client/src/lib.rs
  fiberplane-models/src/users.rs
  schemas/openapi_v1.yml
  xtask/src/main.rs
Owners: @fiberplane/api-devs, @fiberplane/studio-devs

.github/CODEOWNERS:

# By default the code is owned by the API and Studio team, as they are
# dependent on this crate
* @fiberplane/api-devs @fiberplane/studio-devs

# Provider specific stuff is owned by the plugin team
/fiberplane-provider-protocol/ @fiberplane/plugin-devs
/providers/ @fiberplane/plugin-devs

# Templates are owned by the template team
/fiberplane-templates/ @fiberplane/template-devs

# Charts is owned by the Studio team
/fiberplane-charts/ @fiberplane/studio-devs
